@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@foreach (Post post in Model)
{
    <h4>@post.Title</h4>
    <small>@post.CreatedTime</small>
    <img class="w-100" src="~/Upload/@post.PhotoPath" alt="Alternate Text" />
    @Html.Raw(post.Content)
    <hr />
}
